<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">My Company</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Warp Drive</a></li>
                <li><a href="#">Fusion Reactor</a></li>
                <li><a href="#">Sufficiently Smart Compiler</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Services</li>
                <li><a href="#">Enlightenment</a></li>
              </ul>
              <li><a href="/archive.html">Blog</a></li>
              <li><a href="/pages/team.html">Team</a></li>
              <li><a href="/pages/about.html">About Us</a></li>
              <li><a href="/pages/contact.html">Contact </a></li>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
